@model IEnumerable<RootedInLove.Models.Product>

<h2>@ViewBag.Title</h2>
<p>Click on an item below for more details</p>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4" style="height:675px;border:ridge">
            <br />
            <p>
                <a href='@Url.Action("Details", "Materials", new { id = item.ShortName },null)'>    
                    <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-responsive" style="text-align: center; margin-left: auto; margin-right: auto; max-height:400px" />
                </a>
                <br />
               
                <h3>@Html.ActionLink(item.Title, "Details", "Materials",new { id = item.ShortName },null)</h3>
                <br />
                @Html.DisplayFor(modelItem => item.category.Name) by @Html.DisplayFor(modelItem => item.Author.FullName)
                
            </p>

        </div>
    }
</div>
