@model RootedInLove.Models.Artist

@{
    ViewBag.Title = Model.FullName;
}



<div>

    <hr />
    <p>
        <img src="@Html.DisplayFor(modelItem => Model.Image)" class="img-responsive" style="text-align: center; margin-left: auto; margin-right: auto; max-height:400px" />
        <br />
        <h3>@Html.DisplayFor(modelItem => Model.FullName)</h3>
        <br />
        @Html.DisplayFor(modelItem => Model.AboutDescription) 
        <br /><br />
        <p>
            @Html.ActionLink("Materials by "+Model.FullName,"Author","Materials", new { id = Model.ShortName }, new { @class = "btn btn-default" })
        </p>
    <p>
        @Html.ActionLink("Presentations by " + Model.FullName, "Author", "Presentations", new { id = Model.ShortName }, new { @class = "btn btn-default" })
    </p>
    @if (Model.GooglePlayLink != null)
    {
            <p>
                <a href="@Model.GooglePlayLink" class="btn btn-default">@Model.FullName on Google Play</a>
            </p>
    }

</div>